ErrorDocument 404 /404

<IfModule mod_rewrite.c>

	RewriteEngine on
	RewriteBase /fasill/
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^documentation/ref/([a-zA-Z-]+)/?$ index.php?view=predicate&category=$1 [L,NC,QSA]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^documentation/src/([a-zA-Z-]+)/?$ index.php?view=source&module=$1 [L,NC,QSA]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^documentation/([a-zA-Z-]+)/?$ index.php?view=$1 [L,NC,QSA]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?view=$1 [L,NC,QSA]

</IfModule>
